.pw-section {
  &--fresh {
    background-color: $c-lynch;
    padding: 5vh 0;
    .pw-section__title {
      @include bp(large-up) {
        margin-top: 0;
      }
    }
  }
}

.pw-features {
  max-width: $base-size * 60;
  margin-left: auto;
  margin-right: auto;
  @include bp(medium-up){
    display: flex;
    align-items: flex-start;
    &__title {
      font-size: 21px;
    }
    &__item {
      width: calc(100% / 3);
    }
  }

  &__item {
    padding: $base-size $base-size * 2;
    @include bp(large-up) {
      padding: $base-size * 2;
    }
  }
  &__title {
    @include font-style($font-base, 18px, $c-periwinkle, 600, 1.5);
    text-transform: uppercase;
    letter-spacing: 0.3px;
    margin: 0;
    position: relative;
    padding-top: $base-size * 5.5;
    &:after {
      display: block;
      content: '';
      @include size(76px, 76px);
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    &--fresh {
      &:after {
         background: url('//d3l9z56djv003z.cloudfront.net/static/pillow-landing/images/icn-fresco.svg') no-repeat center bottom;
      background-size: contain;
      }
    }
    &--soft {
      &:after {
         background: url('//d3l9z56djv003z.cloudfront.net/static/pillow-landing/images/icn-suave.svg') no-repeat center bottom;
      background-size: contain;
      }
    }
    &--autosize {
      &:after {
         background: url('//d3l9z56djv003z.cloudfront.net/static/pillow-landing/images/icn-adapta.svg') no-repeat center bottom;
      background-size: contain;
      }
    }
  }
  &__text {
    @include font-style($font-base, $base-size, white, normal);
    letter-spacing: -0.1px;
    margin: $base-size / 2 0
  }
}

.small-header {
  position: relative;
  perspective: 600px;
  z-index: 2;
  height: 200px;
  &__wrapper {
    @include size(100%);
    position: relative;
    z-index: 5;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    perspective: 600px;
    transform-origin: 50% 50%;
    > img {
      width: 360px;
      margin: 0 auto;
      @include bp(xlarge-up) {
        width: auto;
      }
    }
  }
}