.pw-section {
  &--layers {
		background-image: url('//d3l9z56djv003z.cloudfront.net/static/pillow-landing/images/capas-mobile.png');
		background-repeat: no-repeat ;
		background-position: -150px 70px; 
		background-color: $c-pollo-blue;
		background-size: auto calc(100% - #{$base-size * 2});

		@include bp(xsmall-up) {
			background-position: -100px 70px; 
		}

		@include bp(min, $breakpoint-small-default) {
			background-position: 0 50px; 
		}

		@include bp(medium-up) {
			background: $c-pollo-blue;
		}

    .small-header {
      width: 50%;
    }

    .pw-features {
      width: 50%;
			text-align: left;
			margin: $base-size * 2 0;

      @include bp(medium-up) {
        max-width: 768px;
        width: 100%;
				text-align: center;
				margin: 0 auto;
      }

      &__item {
        padding: 0;
        margin: $base-size 0;

        @include bp(medium-up) {
          padding: $base-size * 2;
          margin: 0;
        }
      }

      &__text {
        margin: 0;
        @include bp(medium-up) {
          margin: $base-size / 2 0;
        }
      }
    }
  }
}


.pw-layers {
  &__content {
    display: flex;
		justify-content: flex-end;
		text-align: center;

    @include bp(medium-up) {
			justify-content: center;
      flex-direction: column;
    }
	}

	&__fig {
		display: none;
		margin-top: $base-size * 2;
		margin-bottom: ($base-size * 6) * -1;
		max-width: 99%;

		@include bp(medium-up) {
			display: inline-block;
		}

		@include bp(large-up) {
			display: none;
    }
	}

	&__madein {
		display: inline-block;
		margin-bottom: $base-size * 2;

		@include bp(large-up){
			position: absolute;
			left: -100px;
			top: 50%;
			width: 100px;
			margin-bottom: 0;
			margin-top: -50px;
		}
	}
}

.pw-matress-webgl {
  position: relative;
  &:before {
    display: none;
    @include bp(large-up) {
      content: '';
      display: block;
      position: absolute;
      @include size(672px, 115px);
      left: 50%;
      transform: translateX(-50%);
      bottom: -32px;
      background: url('//d3l9z56djv003z.cloudfront.net/static/pillow-landing/images/sombra_capas.png') no-repeat center center;

    }
  }
  > canvas {
    position: relative;
    z-index: 1;
    display: block;

  }

  &__lines {
    @include coverer;
    transform: translateY(5vh);
    z-index: 2;
    background: url('//d3l9z56djv003z.cloudfront.net/static/pillow-landing/images/icn-line-gel.svg') no-repeat center bottom;
    opacity: 0;
    visibility: hidden;
    transition: 350ms ease-in-out;
    &:after,
    &:before {
      content: '';
      position: absolute;
      width: 22px;
      bottom: 0;
    }
    &:before {
      left: 116px;
      height: 307px;
      background: url('//d3l9z56djv003z.cloudfront.net/static/pillow-landing/images/icn-line-latex.svg') no-repeat;
    }
    &:after {
      right: 116px;
      height: 166px;
      background: url('//d3l9z56djv003z.cloudfront.net/static/pillow-landing/images/icn-line-pol.svg') no-repeat;
    }

    &.from {
      opacity: 0;
      visibility: hidden;
    transform: translateY(5vh);

    }
    &.to {
      opacity: 1;
      visibility: visible;
      transform: translateY(3vh);
    }
  }
}
