.pw-section {
  &--tech-specs {
    min-height: auto;
    padding: 5vh 0;
  }
}

.tab-panes .tab-pane{
    display: none
}
.tab-panes .active{
    display: block
}

.pw-tabs {
  display: table;
  text-align: center;
  border: 1px solid $c-lynch;
  width: $base-size * 18;
  margin: 0 auto;
  a {
    color: $c-lynch;
  }
  @include bp(medium-up) {
    width: $base-size * 30;
  }
  &__item {
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;
    transition: all 250ms ease-in;
    padding: $base-size / 2;
    @include font-style($font-base, 12px, $c-lynch, 600, 11px);

    @include bp(medium-up) {
      padding: round($base-size / 1.25);
    }

    text-transform: uppercase;
    color: $c-lynch;
    border-right: 1px solid $c-lynch;
    &:last-child {
      border-right: 0;
    }
    &:hover,
    &.active {
      color: white;
      background-color: $c-lynch;
    }
  }
}

.pw-panes {
  padding: 5vh 0;
  text-align: center;
   img {
    @include center-block;
    margin-bottom: $base-size;
  }
}

.pw-sizes {
  &__item {
    padding: $base-size;
  }
  @include bp(medium-up){
    display: flex;
    align-items: center;
  }

}

.pw-button-download {
  display: inline-block;
  padding: $base-size $base-size * 2.5;
  background-color:$c-perano;
  @include font-style($font-base, 16px, white, 500);
  color: white;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 250ms;
  &:hover {
    background-color: darken($c-perano, 5%);
    color: white;
  }
}
