$c-pollo-blue: #8BA7D4;
$c-perano: #9CBAEE;
$c-lynch: #5D6E8A;
$c-lynch-light: #657591;
$c-zircon: #F3F8FF;
$c-periwinkle: #BBD4FE;
$base-size: 16px;
$font-base: 'Proxima Nova', sans-serif;
$static-url: '//luuna.mx/media/pillow-landing/';
