@include font-face('Proxima Nova', '#{$static-url}fonts/ProximaNova-Bold', bold, normal);
@include font-face('Proxima Nova', '#{$static-url}fonts/ProximaNova-SemiBold', 600, normal);
@include font-face('Proxima Nova', '#{$static-url}fonts/ProximaNova-Regular', normal, normal);

html,
body {
  height: 100%;
}

body {
  overflow-x: hidden;
}

.u-img-fluid {
  max-width: 100%;
  height: auto;
}

.u-list-unstyled {
  @include clean;
  list-style: none;
}

.u-text-uppercase {
  text-transform: uppercase;
}

.u-font-regular {
	font-weight: 400;
}

.u-desktop-only {
  display: none !important;
  
  @include bp(medium-up) {
    display: block !important;
  }
}

.u-mobile-only {
  @include bp(medium-up) {
    display: none !important;
  }
}

.pw-wrapper {
  position: relative;
  @include size(100%);
  min-height: 100%;

  a {
    text-decoration: inherit;
    &:hover {
      text-decoration: inherit;
    }
  }
}

.pw-section {
  @include size(100%, auto);
  display: flex;
  align-items: center;
  justify-content: center;
	text-align: center;
  @include bp(large-up){
    min-height: 100vh;
  }
  &__inner {
    position: relative;
    padding: $base-size * 2 $base-size;
		@include clearfix;
		
		@include bp(medium-up) {
      padding: $base-size * 4 $base-size;
    }
  }
  &__title {
    @include font-style($font-base, 18px, white, bold, 1.07);
    letter-spacing: 0.5px;
    text-transform: uppercase;
		margin: $base-size 0;
		padding: 0 $base-size;

    &--alternate {
      color: $c-lynch;
    }

    @include bp(medium-up) {
      font-size: 28px;
      margin: $base-size * 2 0;
    }
    @include bp(xlarge-up) {
      margin-bottom: $base-size * 3;
    }
  }

  &__intro {
    @include font-style($font-base, 18px, $c-periwinkle, normal);
    max-width: 600px;
		margin: 0 auto;
		padding: 0 $base-size;
  }

  &__text {
    @include font-style($font-base, 18px, $c-lynch-light, normal);
  }
}

